.chars {
  position: relative;
  padding: 90px 0;
  /* border-bottom: 1px solid var(--color-accent); */
}

.chars::after {
  content: "";
  width: 100%;
  height: 1px;

  position: absolute;
  bottom: 0;

  background: linear-gradient(273deg, #ff4060 0%, #ff81c5 52.08%, #6d5eea 100%);
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.item {
  position: relative;
  z-index: 1;
  cursor: pointer;

  padding: 24px 20px;
  border-radius: 20px;
  box-shadow: var(--shadow-second);
  background: linear-gradient(273deg, #ff4060 0%, #ff81c5 52.08%, #6d5eea 100%);
  overflow: hidden;
  transition: var(--main-transition);
}

.item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #120a14;
  border-radius: 19px;
}

.item:hover,
.item:focus {
  transform: translateY(-10px);
}

.charName {
  font-size: 20px;
  margin-bottom: 18px;
}

.numeration {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.imageOne {
  width: 236.5px;
  height: 240px;
  border-radius: 10px;
  background: linear-gradient(180deg, #fef065 0%, #b7a91c 100%);
}

.imageTwo {
  width: 236.5px;
  height: 240px;
  border-radius: 10px;
  background: linear-gradient(180deg, #fb83ca 0%, #df4aa2 100%);
}

.imageThree {
  width: 236.5px;
  height: 240px;
  border-radius: 10px;
  background: linear-gradient(180deg, #7364eb 0%, #3d29d8 100%);
}

.imageFour {
  width: 236.5px;
  height: 240px;
  border-radius: 10px;
  background: linear-gradient(180deg, #90e8ff 0%, #136c84 100%);
}

.infoList {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.infoTitle {
  font-size: 12px;
  line-height: 120%;

  color: var(--color-grey);
}

.infoBid {
  font-weight: 700;

  color: var(--color-accent-green);
}
