.hero {
  position: relative;
  padding-top: 70px;
}

.hero::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url(../../assets/cryptoart.png);
}

.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 821px;
  height: 958.88px;
  background-image: url(../../assets/rectangle.svg);

  opacity: 0.05;
  background-blend-mode: screen;
  mix-blend-mode: screen;
}

.heroOverlay {
  position: relative;
}

.heroOverlay::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 390px;
  height: 470px;

  background-image: url(../../assets/Spline.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.heroOverlay::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 390px;
  height: 470px;

  transform: rotate(-180deg);

  background-image: url(../../assets/Spline.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper {
  width: 765px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 591.112px;
  height: 660.403px;
  background-image: url(../../assets/rectangle1.svg);

  opacity: 0.1;
  background-blend-mode: screen;
  mix-blend-mode: screen;
}

.wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 366.913px;
  height: 758.995px;
  background-image: url(../../assets/rectangle2.svg);

  opacity: 0.05;
  background-blend-mode: screen;
  mix-blend-mode: screen;
}

.title {
  position: relative;
  font-size: 70px;
  font-weight: 700;
  line-height: 65px;
  text-shadow: var(--text-shadow-title);
}

.title::before {
  content: "";

  position: absolute;
  top: -70px;
  left: 50%;
  transform: translate(-50%);
  width: 36px;
  height: 67px;

  background-image: url("../../assets/rhombus.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.subtitle {
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;

  font-size: 16px;
  line-height: 25px;
}

.button {
  cursor: pointer;

  background: linear-gradient(273deg, #ff4060 0%, #ff81c5 52.08%, #6d5eea 100%);

  color: var(--color-black);
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  border: none;
  outline: none;

  padding: 19px 37px;
  border-radius: 60px;

  margin-top: 24px;

  box-shadow: var(--shadow-second);
}

.wrapperImage {
  position: relative;
  width: 971px;
  height: 375px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.wrapperImage::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1639px;
  height: 879px;
  border-radius: 1639px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 129, 197, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.image {
  width: 100%;
  display: block;
}

.explorer {
  position: absolute;
  bottom: 43px;
  right: -155px;
}
