.header {
  padding-top: 36px;
  padding-bottom: 85px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  align-items: center;
}

.navLink {
  padding: 16px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  transition: color var(--main-transition);
}

.navLink:hover,
.navLink:focus {
  color: var(--color-accent);
}

.navItem:not(:last-child) {
  margin-right: 24px;
}

.socialsList {
  display: flex;
  align-items: center;
}

.socialsItem:not(:last-child) {
  margin-right: 17px;
}

.socialsLink {
  transition: color var(--main-transition);
}

.socialsLink:hover,
.socialsLink:focus {
  color: var(--color-accent);
}
