.header {
  position: relative;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header::after {
  content: "";
  position: absolute;

  right: -60%;
  width: 857px;
  height: 857px;
  border-radius: 857px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(109, 94, 234, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
}

.navList {
  display: flex;
  align-items: center;
}

.navLink {
  padding: 16px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  transition: color var(--main-transition);
}

.navLink:hover,
.navLink:focus {
  color: var(--color-accent);
}

.navItem:not(:last-child) {
  margin-right: 24px;
}

.socialsList {
  display: flex;
  align-items: center;
}

.socialsItem:not(:last-child) {
  margin-right: 17px;
}

.socialsLink {
  transition: color var(--main-transition);
}

.socialsLink:hover,
.socialsLink:focus {
  color: var(--color-accent);
}
